body{
    background-color: hsl(230, 60%, 8%);
    text-align: center;
    margin: 2em 1.3em 5em 1.3em;
    font-family: 'Outfit', sans-serif;
}
main{
    color: hsl(0, 0%, 50%);
}
.hero-mobile{
    display: block;
    max-width: 100%;
    margin: 3em 0 3em 0;
}
h1{
    color: white;
    margin-top: 2em;
}
.love{
    color: hsl(179, 80%, 58%);
}
.scroll{
    margin-top: 2em;
}
.first-section{
    margin-bottom: 7em;
}
.img{
    background-color: hsl(206, 84%, 22%);
    margin: 0 30% 0 30%;
    border-radius: 2.9em;
    padding: 1em;
}
h2{
    color: white;
}
.second-section p{
    margin-bottom: 5em;
}
.third-section{
    margin: 10em 0em 7em 0em;
}
.dip{
    background-color: hsl(206, 84%, 22%);
    text-align: left;
    padding-left: 2em;
    padding-bottom: 2em;
    border-radius: 0.7em;
    margin-bottom: 4em;
}
.icon-free{
    position: relative;
    top: -1.5em;
    z-index: 99;
} 
.icon-p{
    margin-bottom: 5em;
}
.free{
    font-size: 3em;
}
.dip div p{
    color: white;
}
.dipList{
    display: flex;
}
.dive{
    background-color: hsl(179, 80%, 58%);
    text-align: left;
    padding-left: 2em;
    padding-bottom: 2em;
    border-radius: 0.7em;
    margin-bottom: 3em;
    color: black;
}
.icon-paid{
    position: relative;
    top: -1.7em;
    z-index: 99;
}
.dive h2{
    color: black;
}
.divep{
    color: hsl(0, 0%, 50%);
    line-break: loose;
}
strong{
    font-size: 3em;
}
.dive-list img{
    display: none;
}
footer h2{
    background-image: url("bg-footer-squiggle.svg");
    background-size: cover;
}
input{
    width: 90%;
    height: 2em;
    background-color: hsl(206, 84%, 22%);
    border-radius: 1.5em;
    border: none;
    padding: 0.7em;
    color:  white;
    margin-bottom: 2em;
    font-size: 1em;
}
button{
    width: 93%;
    background-color: hsl(179, 80%, 58%);
    border-radius: 1.5em;
    border: none;
    padding: 1em;
    color: hsl(206, 84%, 22%);
    font-size: 1em;
}
@media only screen and (min-width: 600px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        text-align: left;
        font-size: 0.9em;
    }
    .logo{
        margin-bottom: 5em;
    }
    br{
        display: none;
    }
    .first-section{
        text-align: center;
        margin: 0% ;
        display: flex;
        margin-bottom: 9em;
    }
    .leftbg{
        background-image: url(./illustration-hero-left.svg);
        background-size: cover;
        width: 30%;
        height: 50vh;
    }
    .centerbg{
        background-image: url(./bg-hero-squiggle.svg);
        background-size: cover;
        width: 60%;
        height: 50vh;
    }
    .rightbg{
        background-image: url(./illustration-hero-right.svg);
        background-size: cover;
        width: 30%;
        height: 50vh;
    }
    .firsttext::before{
        content: "\a";
        white-space: pre;
    }
    .firsth1{
        margin-top: 3em;
    }
    .hero-mobile{
        display: none;
    }
    .second-section-flex{
        display: flex;
        margin: 1em;
    }
    .flex-text{
        margin-left: 6em;
    }
    #flex1{
        margin-left: 5em;
    }
    #flex2{
        margin-right: 7em;
    }
    #flex3{
        margin-left: 5em;
    }
    #flex4{
        margin-right: 7em;
    }
    .third-section-header{
        text-align: center;
    }
    .dip{
        margin: 0 4em 5em 4em;
    }
    .diph2{
        margin-bottom: 1em;
    }
    .free{
        margin-top: 0.5em;
        margin-bottom: 0.3em;
    }
    .dipList{
        margin-bottom: 1.5em;
    }
    .dive{
        margin: 0 4em 5em 4em;
    }
    .diveh2{
        margin-bottom: 1em;
    }
    .divep{
        margin-bottom: 1em;
        color: hsl(206, 84%, 22%);
    }
    .divedollar{
        margin-bottom: 1em;
        color: hsl(206, 84%, 22%);
    }
    .dipp{
        color: hsl(0, 0%, 50%);
    }
    strong{
        color: black;
    }
    .dive-list{
        display: flex;
        flex-direction: row;
        margin-top: 0.8em;
        margin-bottom: 1.5em;
    }
    .dive-list img{
        display: block;
        margin-right: 1em;
    }
    footer{
        background-image: url("bg-footer-squiggle.svg");
        background-size: cover;
        text-align: center;
    } 
    .footer h2{
        background-image: none;
    }
    input{
        width: 60%;
        margin-top: 2em;
    }
    button{
        width: auto;
        margin-left: 1em;
    }
}
@media only screen and (min-width: 992px){
    .centerbg{
        animation-name: first-anime;
        animation-duration: 5s;
    }
    .second-section{
        display: flex;
        animation-name: maker;
        animation-duration: 5s;
        
    }
    .second-section br{
        display: none;
    }
    .second-section-flex{
        display: block;
        margin: none;
    }
    #flex1{
        margin-left: 0em;
        animation-name: flex1;
        animation-duration: 5s;
    }
    #flex2{
        margin-right: 0em;
        margin-top: 7em;
        animation-name: flex2;
        animation-duration: 5s;
    }
    #flex3{
        margin-left: 0em;
        animation-name: flex3;
        animation-duration: 5s;
    }
    #flex4{
        margin-right: 2em;
        margin-top: 7em;
        animation-name: flex4;
        animation-duration: 5s;
    }
    .price-table{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    input{
        width: 30%;
    }
    @keyframes maker {
        from{
            color: hsl(179, 80%, 58%);
        }
        to{
            color: hsl(206, 84%, 22%);
        }
    }
    @keyframes flex1 {
        from{
        margin-top: 7em;
        opacity: 1;
        }
        to{
            margin-top: 0em;
            opacity: 0.5;
        }
    }
    @keyframes flex2 {
        from{
            margin-top: 0em;
            opacity: 0.5;
        }
        to{
            margin-top: 7em;
            opacity: 1;
        }
    }
    @keyframes flex3 {
        from{
            margin-top: 7em;
            opacity: 1;
        }
        to{
            margin-top: 0em;
            opacity: 0.5;
        }
    }
    @keyframes flex4 {
        from{
            margin-top: 0em;
            opacity: 0.5;
        }
        to{
            margin-top: 7em;
            opacity: 1;
        }
    }
    @keyframes first-anime {
        from{
            margin-top: 7em;
            opacity: 0.5;
        }
        to{
            margin-top: 0em;
            opacity: 1;
        }
    }
}